.ml-6 {
  margin-left: 2.5rem;
}
.mt-6 {
  margin-top: 2.5rem;
}
.ee-contenido-curso {
  padding: 30px 5%;
  display: flex;
}
.ee-contenido-curso-doble {
  padding: 30px 5%;
  display: flex;
  align-items: center;
}
.ee-personajeIzq {
  max-width: 20%;
}

.ee-dialogoAzul,
.ee-dialogoAmarillo {
  display: flex;
}
.ee-text-dialog-azul,
.ee-text-dialog-amarillo {
  position: relative;
}
.ee-text-consejo {
  background-color: #fe6800;
  padding: 20px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
}
.ee-text-dialog-azul p {
  background-color: #9cdaed;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
}
.ee-text-dialog-amarillo p {
  background-color: #feea67;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
  position: relative;
}
.ee-deco_medio_amarillo::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 15%;
  border-left: 20px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 10px solid #feea67;
  clear: both;
}
.ee-deco_medio_azul::after {
  content: "";
  position: absolute;
  left: -22px;
  top: 25%;
  border-left: 20px solid transparent;
  border-right: 0px solid #9cdaed;
  border-bottom: 10px solid #9cdaed;
  clear: both;
}

.ee-msj-corto {
  max-width: 40%;
}
.ee-msj-medio {
  max-width: 70%;
}

.btn-victoria {
  background: url(https://elementos.entornos.net/clientes/Ovante/personajes-cursos/btn-vic.png) no-repeat!important;
  background-size:contain!important;
}


.ovante-btnImage-naranja {
  padding: 10px 10px 10px 59px;
  border-radius: 50px 20px 20px 50px;
  color: #fff;
  font-weight: 900;
  border: unset;
  text-align: left;
  background: url(https://elementos.entornos.net/clientes/Ovante/personajes/responsive-experto.png)
    no-repeat #ffa64c;
  background-size: 60px;
  background-position: left center;
}
.ovante-btnImage-verde {
  background-color: #4f9d69 !important;
}

.ovante-btnImage-naranja a {
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
}
.ee-certificado {
  margin: 20px 0px;
  border: 2px solid #ff4f5b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: #fcf5f0;
  text-align: justify;
}
.ee-certificado a {
  color: #1a708a;
  font-size: 1.2rem;
  font-weight: 700;
}
.ee-izquierdaCert {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ee-fondoCertif {
  background-image: url(https://elementos.entornos.net/clientes/Ovante/personajes/fondo_cert.png);
}

/*charla css*/
.charla img.img-fluid {
  height: 450px;
}
.charla .ee-personajeIzq {
  max-width: unset !important;
}

.ee-globo-der.ee-deco_medio_amarillo:after {
  content: "";
  position: absolute;
  right: -20px;
  transform: rotate(180deg);
  left: unset;
  top: 18px;
}

/* texto */

.texto .ee-personajeIzq {
  max-width: unset !important;
}

.texto .ee-personajeIzq img {
  height: 350px;
}

.texto h2.numero {
  background-color: #f7a64c;
  width: 46px;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -15px;
}

.texto .texto-box {
  background: #ffffff;
  box-shadow: 0px 0px 4px #828181;
  /* width: 20%!important; */
  max-width: unset !important;
  flex: 0 0 29.333333%;
  border-radius: 15px;
  padding: 10px 15px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.texto .ee-cajastextos-contenedor {
  justify-content: space-between;
  margin: 50px 0;
}

/*ee-recomienda*/

.ee-recomienda h2,
.ee-recomienda h3 {
  font-weight: 700;
  font-size: 24px;
  color: #1a708a;
}

.ee-recomienda h3 {
  font-size: 22px;
  text-align: center;
}
.ee-recomienda .ee-listadecursos {
  margin: 50px 0 0;
  position: relative;
}
.ee-recomienda .ee-listadecursos ul.cursosrelacionados {
  list-style: none;
  padding: 15px 20px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 7px #b7b7b7;
  margin-bottom: 50px;
}

.ee-recomienda .ee-listadecursos li.curso {
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
}

.ee-recomienda .ee-listadecursos span.numero-cursos {
  color: #f7a64c;
}

.ee-recomienda .ee-listadecursos .icon {
  background-color: #f7a64c;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 45px;
  text-align: center;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  color: #fff;
  border-radius: 100%;
}

.ee-recomienda .cursobtns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 200px;
}

.ee-recomienda button.ovante-btnImage-naranja {
  padding: 15px 60px 15px 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  min-width: 330px;
}

/*cajas texto*/

.cajas-texto .texto-box {

  flex: 0 0 24.1%;
  justify-content: unset;

}

.cajas-texto h2 {

    font-weight: 700;
    font-size: 24px;
    color: #1a708a;

}

.cajas-texto h2.ee-caja-title {
  text-align: center;
  margin: 30px 0 20px;
}

.cajas-texto img.img-fluid.d-block.ee-icon {
  width: 60px;
}

/*responsive*/

@media only screen and (max-width: 600px) {
  .ee-contenido-curso {
    display: flex;
    flex-direction: column;
  }
  .ee-contenido-curso-doble {
    display: flex;
    flex-direction: row;
  }
  .ee-msj-corto {
    max-width: 100%;
  }
  .ee-personajeIzq {
    max-width: 30%;
  }

  .ovante-btnImage-naranja {
    background-size: 60px;
  }
  .ee-certificado {
    margin: 0px;
  }

  /*charlas responsive*/

  .charla img.img-fluid.d-block.d-md-none {
    height: auto !important;
  }

  .charla .ee-globo-der.ee-deco_medio_amarillo:after {
    top: -33px;
    right: 7%;
    transform: rotate(90deg);
    border-left: 70px solid transparent;
    width: 64px;
  }

  .charla .ee-deco_medio_azul::after {
    left: -22px;
    transform: rotate(-90deg);
    width: 0px;
    border-left: 37px solid transparent;
    bottom: -126px;
    top: 0;
    left: 10%;
  }

  .charla-simple .ee-globo-der.ee-deco_medio_amarillo:after {
    top: unset !important;
    right: 10%;
    bottom: -20px;
    transform: rotate(-90deg);
    border-left: 70px solid transparent;
    width: 64px;
  }

  .charla-simple .ee-deco_medio_azul::after {
    left: 60% !important;
    transform: rotate(90deg);
    width: 0px;
    border-left: 37px solid transparent;
    bottom: unset !important;
    top: -20px;
    left: 10%;
  }

  /*cajas de textos responsive*/

  .texto .ee-cajastextos-contenedor {
    flex-direction: column !important;
  }

  .texto .col-md-4.texto-box {
    flex: unset !important;
    margin: 20px 0 !important;
  }

  .texto .ee-text-dialog-azul.ee-deco_medio_azul {
    margin-left: auto;
  }

  .texto .ee-deco_medio_azul::after {
    top: -20px;
    transform: rotate(90deg);
    left: 18%;
    width: 50px;
    border-left: 43px solid transparent;
    height: 0;
  }
}
